@use "./variables" as *;
@use "./mq" as *;
:root {
  --c-text: #dddcdc;
  --c-sec: rgba(218, 218, 218, 0.8);
  --c-main: #fff;
  --c-bg: #110028;
  --c-fluid1: #236c71;
  --c-fluid2: #6a2371;
  --c-black: #{$c-black};
  --c-white: #{$c-white};
  --c-gray: #{$c-gray};
  --c-dark: #{$c-dark};
  --c-orange: #{$c-orange};
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  vertical-align: bottom;
  max-width: 100%;
  object-fit: cover;
  height: auto;
  width: 100%;
}

[data-webgl] {
  // background: green;
  opacity: 0;
}

[data-scroll-trigger="fade"] {
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0, 0, 0.2, 1);
  will-change: opacity;

  &.inview {
    opacity: 1;
  }
}

// [data-model] {
//   pointer-events: auto;

//   @include mq("lg") {
//     pointer-events: none;
//   }
// }
