@use "./variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #434243;
  font-family: $base-font;
}

#globalContainer {
  position: relative;
  overflow-x: hidden;
  visibility: hidden;
  z-index: 0;
}

#canvas {
  height: 100svh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
