@use "sass:map";

$c-black: #333333;
$c-white: #ffffff;
$c-dark: #110028;
$c-gray: #d9d9d9;
$c-gray-2: #d9d9d9;
$c-orange: #ed9723;

$default-min-bp: 375px;
$default-max-bp: 1280px;
$root-font-size: 16px;

$base-font:
  "Orbitron",
  "Noto Sans JP",
  system-ui,
  -apple-system,
  "Segoe UI",
  sans-serif;

$font-weights: (
  "thin": 100,
  "light": 300,
  "regular": 400,
  "medium": 500,
  "bold": 700,
  "black": 900,
);

@mixin font-style-set($family, $weight-key, $style: normal) {
  font-family: $family;
  font-optical-sizing: auto;
  font-weight: map.get($font-weights, $weight-key);
  font-style: $style;
}
