@use "../global/" as *;

.hl_hidden {
  display: none;
}

//PC画面で非表示
.hl_smVisible {
  @include mq-up("lg") {
    display: none !important;
  }
}

//SP画面で非表示
.hl_smHidden {
  @include mq("lg") {
    display: none !important;
  }
}

// PC画面の横幅指定
.hl_contentWidth {
  width: calc(358 / 390) * 100%;
  margin-inline: auto;
  max-width: to-rem(1760px);
}
.hl_contentWidthMiddle {
  width: calc(358 / 390) * 100%;
  margin-inline: auto;
  max-width: to-rem(1560px);
}

// PC画面の横幅指定（narrow）
.hl_contentWidthNarrow {
  width: calc(358 / 390) * 100%;
  max-width: to-rem(1280px);
  margin-inline: auto;
}

// アクセントカラー指定
.hl_accentColor {
  color: $c-orange;
}

// 大文字指定
.hl_uppercase {
  text-transform: uppercase;
}

// パーティクル
.hl_particleSlide {
  position: relative;
}

//
.hl_webglObject {
  width: 100% !important;
  height: 100% !important;
}

// ホバー不可
.hl_disableHover {
  pointer-events: none !important;

  .el_mousePointer {
    opacity: 0 !important;
  }
}

//border-bottom
.hl_hasBB {
  border-bottom: solid 1px var(--c-text);
}
//border-top
.hl_hasBT {
  border-top: solid 1px var(--c-text);
}
//border-left
.hl_hasBL {
  border-left: solid 1px var(--c-text);
}
//border-right
.hl_hasBR {
  border-right: solid 1px var(--c-text);
}
//border-all
.hl_hasB {
  border: solid 1px var(--c-text);
}
