@use "./foundation";
@use "./global";
@use "./layout";
@use "./module";
@use "./utility";
@use "./page";
@use "./program";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bl_particleSlide {
  position: relative;
}
.js_particleChild {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
