---
import Base from "../layout/Base.astro";
import Kv from "../components/kv.astro";
---

<Base title="Astro">
  <div id="smooth-wrapper">
    <div id="smooth-content">
      <!-- <Kv /> -->
      <div class="wrap">
        <video class="video" data-webgl data-tex-1="/movie/beach.mp4"></video>
        <video
          class="video"
          data-webgl
          data-tex-1="/movie/fresnel_back.webm"
          data-tex-2="/movie/fresnel_back.mov"></video>
        <div
          id="div"
          data-webgl
          data-tex-1="/img/slider/slider_1.jpg"
          data-tex-2="/img/slider/slider_3.jpg"
        >
        </div>
        <img
          alt=""
          data-webgl="normal"
          data-tex-1="/img/slider/slider_1.jpg"
          data-tex-2="/img/slider/slider_2.jpg"
          width={1024}
          height={512}
        />
        <img
          alt=""
          data-webgl="gray"
          data-tex-1="/img/slider/slider_1.jpg"
          data-tex-2="/img/slider/slider_2.jpg"
          width={1024}
          height={512}
        />
        <img
          alt=""
          data-webgl
          data-tex-1="/img/slider/slider_1.jpg"
          data-tex-2="/img/slider/slider_2.jpg"
          width={1024}
          height={512}
        />
        <div class="kickman" data-webgl data-model="/model/mixamo_kick.glb">
        </div>
      </div>
    </div>
  </div>

  <style lang="scss">
    [data-webgl] {
      // background: green;
      opacity: 0;
    }
    .wrap {
      padding: 100px 0;
      display: flex;
      flex-direction: column;
      max-width: 900px;
      gap: 300px;
    }
    .video {
      width: 300px;
      height: 300px;
    }
    #div {
      width: 300px;
      height: 300px;
    }
    img {
      width: 80%;
      height: auto;
      /* bottom: 100px; */
    }
    .kickman {
      width: 50%;
      aspect-ratio: 1;
    }
  </style>
</Base>
