---

---

<div class="hero">
  <div class="hero_kv">
    <video src="/movie/kv.mp4" autoplay muted loop playsinline class="kv-img"
    ></video>
  </div>
  <div class="hero_cover">
    情熱の先へ。 磨き抜いた技術で、 世界へ。 Beyond Passion, With our refined
    skills To Global
  </div>
</div>

<style lang="scss">
  .hero_kv {
    width: 100%;
    height: 100vh;
    background-color: aqua;
    video {
      width: 100%;
    }
  }
  .hero_cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
</style>
