---
const { title = "Astro" } = Astro.props;
import "../styles/style.scss";
import Loader from "../components/Loader.astro";
import Aside from "../components/Aside.astro";
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script type="module" src="/src/scripts/index.js"></script>
    <title>{title}</title>
    <link
      rel="preload"
      href="/fonts/Orbitron-Medium.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Orbitron-Bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <!-- Google Fonts の読み込みを追加 -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap"
      rel="stylesheet"
    />

    <slot name="head" />
  </head>
  <body>
    <Loader />
    <div id="globalContainer">
      <Aside />
      <div id="smooth-wrapper">
        <div id="smooth-content">
          <div id="pageContainer">
            <slot />
          </div>
        </div>
      </div>
      <canvas id="canvas"></canvas>
    </div>
  </body>
</html>

<style lang="scss">
  @use "../styles/global/variables" as *;

  body {
    background-color: #434243;
    font-family: $base-font;
  }

  #globalContainer {
    position: relative;
    overflow-x: hidden;
    visibility: hidden;
    z-index: 0;
  }

  #canvas {
    height: 100svh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }
</style>
